<a href="https://colab.research.google.com/github/2303A51401/B24_PDS/blob/main/Lab_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
monthly_temps=np.array([15.5, 16.8, 20.1, 25.3, 30.5, 33.0, 32.0, 31.4, 28.8, 22.5, 18.0, 16.0])

In [10]:
average_temp = np.mean(monthly_temps)

In [11]:
print(f"Average Temperature : {average_temp:.2f}")

Average Temperature : 24.16

In [14]:
hottest_month = np.argmax(monthly_temps) + 1
coldest_month = np.argmin(monthly_temps) + 1
print("hottest month is: ",hottest_month)
print("coldest month is: ",coldest_month)

hottest month is:  6
coldest month is:  1

In [17]:
normalized_temps = (monthly_temps - np.min(monthly_temps)) / (np.max(monthly_temps) - np.min(monthly_temps))
print("normalised temparature are:",normalized_temps)

normalised temparature are: [0.         0.07428571 0.26285714 0.56       0.85714286 1.
 0.94285714 0.90857143 0.76       0.4        0.14285714 0.02857143]

In [18]:
months_above_average =(monthly_temps > average_temp)
print("number of months above average temperature is: ",months_above_average)

number of months above average temperature is:  [False False False  True  True  True  True  True  True False False False]

In [19]:
monthly_temps_f = monthly_temps * 9/5 + 32
print(monthly_temps_f)

[59.9  62.24 68.18 77.54 86.9  91.4  89.6  88.52 83.84 72.5  64.4  60.8 ]